# Environments
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
db.sqlite3
staticfiles/

# IDEs and tooling
.idea/
.vscode/

# Env vars
.env
*** End Patch  continati```} ***!

